flows.json
[{"id":"eadb94fa.6c0108","type":"tab","label":"Wearable","disabled":false,"info":""},{"id":"a6b01b69.865bc8","type":"mqtt in","z":"eadb94fa.6c0108","name":"","topic":"cc32xx/steps","qos":"2","datatype":"auto","broker":"c5cefeac.69e3d8","nl":false,"rap":true,"rh":0,"x":610,"y":460,"wires":[["d90328c.7eedcd8","a0a8e801.8f87e8"]]},{"id":"d90328c.7eedcd8","type":"ui_text","z":"eadb94fa.6c0108","group":"f9237c77.06c0c","order":2,"width":0,"height":0,"name":"","label":"Aantal stappen:","format":"{{msg.payload}}","layout":"row-center","x":840,"y":460,"wires":[]},{"id":"a0a8e801.8f87e8","type":"ui_chart","z":"eadb94fa.6c0108","name":"","group":"f9237c77.06c0c","order":2,"width":"12","height":"7","label":"Grafiek","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":500,"wires":[[]]},{"id":"c5cefeac.69e3d8","type":"mqtt-broker","name":"hive mqtt","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9237c77.06c0c","type":"ui_group","name":"Data","tab":"bf937b18.cc7948","order":1,"disp":true,"width":"7","collapse":false},{"id":"bf937b18.cc7948","type":"ui_tab","name":"wearable","icon":"dashboard","disabled":false,"hidden":false}]